/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
/* my attempt to change Zesty logo below*/
#logo h1 { /* selects <h1> if inside the id="logo" */
  font-family: "Baskerville.ttc", cursive;
	color: #8A9E96;
	font-size: 6em;
}

#picture { /* selects <h1> if inside the id="logo" */
  box-sizing: : content-box;
	color: #8A9E96;
	border: 5px;
}
